/lib/apiguardian-api-1.1.2.jar
/out/production/IdeaProjects/lib/apiguardian-api-1.1.2.jar
/out/production/IdeaProjects/Course.class
/out/production/IdeaProjects/EntityManager.class
/out/production/IdeaProjects/EX1.puml
/out/production/IdeaProjects/ExerciseGroup.class
/out/production/IdeaProjects/ExerciseGroupManager.class
/out/production/IdeaProjects/ExerciseGroupManagerTest.class
/out/production/IdeaProjects/.idea/homework-se.iml
/.idea/IdeaProjects.iml
/out/production/IdeaProjects/.idea/IdeaProjects.iml
/lib/junit-jupiter-5.11.3.jar
/out/production/IdeaProjects/lib/junit-jupiter-5.11.3.jar
/lib/junit-jupiter-api-5.11.3.jar
/out/production/IdeaProjects/lib/junit-jupiter-api-5.11.3.jar
/lib/junit-jupiter-engine-5.11.3.jar
/out/production/IdeaProjects/lib/junit-jupiter-engine-5.11.3.jar
/lib/junit-jupiter-params-5.11.3.jar
/out/production/IdeaProjects/lib/junit-jupiter-params-5.11.3.jar
/lib/junit-platform-commons-1.11.3.jar
/out/production/IdeaProjects/lib/junit-platform-commons-1.11.3.jar
/lib/junit-platform-engine-1.11.3.jar
/out/production/IdeaProjects/lib/junit-platform-engine-1.11.3.jar
/out/production/IdeaProjects/.idea/libraries/junit_jupiter.xml
/out/production/IdeaProjects/Kian_Shahroudi_Homework2.pdf
/out/production/IdeaProjects/KianShahroudi_homework1.pdf
/out/production/IdeaProjects/Lecture.class
/out/production/IdeaProjects/Lecturer.class
/out/production/IdeaProjects/Main.class
/out/production/IdeaProjects/.idea/misc.xml
/.idea/modules.xml
/out/production/IdeaProjects/.idea/modules.xml
/lib/opentest4j-1.3.0.jar
/out/production/IdeaProjects/lib/opentest4j-1.3.0.jar
/out/production/IdeaProjects/README.md
/.idea/shelf/Uncommitted_changes_before_Update_at_13_11_2024_04_32_[Changes]/shelved.patch
/out/production/IdeaProjects/.idea/shelf/Uncommitted_changes_before_Update_at_13_11_2024_04_32_[Changes]/shelved.patch
/out/production/IdeaProjects/Student.class
/.idea/shelf/Uncommitted_changes_before_Update_at_13_11_2024_04_32__Changes_.xml
/out/production/IdeaProjects/.idea/shelf/Uncommitted_changes_before_Update_at_13_11_2024_04_32__Changes_.xml
/out/production/IdeaProjects/User.class
/homework-se/out/production/homework-se/homework-se/.idea/vcs.xml
/out/production/IdeaProjects/.idea/vcs.xml
/out/production/IdeaProjects/homework-se/out/production/homework-se/homework-se/.idea/vcs.xml
/homework-se/out/production/homework-se/homework-se/.idea/workspace.xml
/out/production/IdeaProjects/.idea/workspace.xml
/out/production/IdeaProjects/homework-se/out/production/homework-se/homework-se/.idea/workspace.xml
